<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Summary:</b>
  <%= @book.summary %>
</p>

 
<h2>Reviews</h2>
<% @book.reviews.each do |review| %>
  <p>
    <b>Author:</b>
    <%= review.author %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= review.body %>
  </p>
<% end %>

<h2>Add a review:</h2>
<%= form_for([@book, @book.reviews.build]) do |f| %>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
